<div class="hide fallback fallback-synthesis response">
  <p>
    Sorry, your browser does not support <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">the <code>SpeechSynthesis</code> interface</a>. Please use latest WebKit Nightly or upcoming Safari 6.1/7.0 to view this demo.
  </p>
</div>
